body{
    margin: auto;
}
a{
    text-decoration: none;
}
/* Header Css */
#header{
    height:70px;
    width: 100%;
    /* background-color: #e33442; */
    position: absolute;
}
#logo{
    color: aliceblue;
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius:50%;
    margin-left: 1%;
    margin-top: 1%;
    position: absolute;
    /* animation: revolve 10s infinite */
}
#logo:hover{
    color: red;
    background-color: aliceblue;
}
/* @keyframes revolve{
    0% {transform: rotete(30deg);
        margin-left: 2%;    
    }
    25% {transform: rotate(90deg)
        margin-left: 20%;
    }
    50% {transform: rotate(180deg)
        margin-left: 40%;
    }
    75% {transform: rotate(270deg)
        margin-left: 80%;
    }
    100% {transform: rotate(360deg)
        margin-left: 40%;
    }
} */
#logo span{
    margin-left: 25%;
    margin-top: 1%;
    position: absolute;
    font-size: 50px;
}
#social{
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}
.slogo{
    height: 50px;
    width: 50px;
}
/* Search Box Css */
#search{
    height: 505px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/zomato-back-hd.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-size: 100% 470px;
}
#icon{
    font-weight: bolder;
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    float: left;
    margin-left: 39%;
    margin-top: 6%;
    position: absolute ;
}
#heading{
    margin-left: 27%;
    margin-top: 13%;
    position: absolute;
    font-size: 40px;
    color: white;
    font-family:cursive;
}
#dropdown{
    height: 60px;
    width: 60%;
    margin-left: 25%;
    margin-top: 18%;
    position: absolute;
}
select{
    height: 45px;
    width: 45%;
    font-size: 18px;
    text-align: center;
    border-radius: 25px;
}
.restselect{
    width: 45%;
}

/* second-section css */
.bg-color{
    background-color:rgba(247, 242, 242, 0.63);
}
#second-section{
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
}
.card{
    width: 100%;
    height: 200px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ccc;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
}
.card:hover{
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
}
.card-bottom{
    position: absolute;
    background-color: white;
    height: 50px;
    width: 100%;
    margin-top: 150px;
}

/* QuickSearch Css */
#quickSearch{
    height: 650px;
    width: 80%;
    margin-left: 11%;
    margin-top: 2%;
    padding-bottom: 100px;
}
#quickHeading{
   font-size: 30px;
   color: crimson;
   display: block;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   margin-left: 2%;
}
#quickSubHeading{
    font-size: 25px;
    color: firebrick;
    display: block;
    line-height: 50px;
    margin-left: 2%;
}
.tileContainer{
    /* height: 400px; */
    width: 30%;
    box-shadow: 10px 20px 40px gray;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 15px;
    transition: all 0.5s ease;
    /* animation: dance 10s infinite; */
}
/* @keyframes dance{
    0% {transform: rotate(-5deg)}
    20% {transform: scale(1.1)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(5deg)}
    60% {transform: scale(1.1)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(-5deg)}
} */
.tileContainer:hover{
    transform: scale(1.1);
    /* transform:skew(-20deg)
    transform:rotate(-10deg)
    transform:translate(100px,100px) */
}
.tileComponent1{
    height: 180px;
    width: 50%;
    float: left;
}
.tileComponent1 img{
    width: 100%;
    height: 180px;
}
.tileComponent2{
    /* height: 200px; */
    width: 45%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
}
.componentHeading a{
    color:indianred;
    font-weight: bold;
    font-size: 25px;;
}
.componentSubHeading{
    color: black;
    font-size: 17px;
}

/* banner Section */
.banner{
    height: 700px;
    /* width: 80%; */
    background-image: url(../images/tonguestun.png);
    /* background-color: red; */
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    /* margin-left: 10%; */
    padding-top: 13%;
    padding-bottom: 7%;
}
.banner-highlights{
    padding: 70px 0;
    background: rgba(0,0,0,0.6);
    text-align: center;
    color: white;
}
.booking-btn{
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
}

/* popular-locations css */
.loc-back{
    background-color: #fffbf7;
}
.font-weight-bold{
    font-weight:500;
}
#popular-locations{
    height: 400px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5%;
}
.popular-heading{
    font-size: 40px;
    color: black;
}
.locations-div{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}
.locations-div:hover{
    box-shadow: 1px 1px 5px #ccc;
}

/* Footer Css */
#footer{
    height: 150px;
    width: 100%;
    margin-top: 5%;
    background-color:#1f1a21;
}
#footText{
    color: #fff;
    font-size: 23px;
    font-weight: bold;
}
#footText{
    text-align: center;
}
.footDiv{
    height: 70px;
    width: 33%;
    color: #fff;
    float: left;
    border-right: 2px solid whitesmoke;
    text-align: center;
}
.noBorder{
    border: none;
}

@media screen and (max-width:1205px){
    body{
        /* background-color: #1f1a21; */
    }
    #header{
        height:70px;
        width: 100%;
        position: absolute;
    }
    #logo{
        color: aliceblue;
        height: 70px;
        width: 70px;
        background-color: red;
        border-radius:50%;
        margin-left: 1%;
        margin-top: 1%;
        position: absolute;
    }
    #logo:hover{
        color: red;
        background-color: aliceblue;
    }
    #logo span{
        margin-left: 20%;
        margin-top: -2%;
        position: absolute;
        font-size: 50px;
    }
    #social{
        float: right;
        margin-right: 1%;
        margin-top: 1%;
    }
    .slogo{
        height: 40px;
        width: 40px;
    }
    #icon{
        font-weight: bolder;
        font-size: 80px;
        font-family:'Courier New', Courier, monospace;
        color: #fff;
        float: left;
        margin-left: 39%;
        margin-top: 8%;
        position: absolute ;
    }
    #heading{
        margin-left: 25%;
        margin-top: 18%;
        position: absolute;
        font-size: 30px;
        color: white;
        font-family:cursive;
        text-align: center;
    }
    #dropdown{
        height: 60px;
        width: 90%;
        margin-left: 12%;
        margin-top: 25%;
        position: absolute;
    }
    select{
        height: 45px;
        width: 45%;
        font-size: 15px;
        text-align: center;
        border-radius: 25px;
    }
    .restselect{
        width: 45%;
    }
    /* QuickSearch Css */
    #quickSearch{
        height: 800px;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        padding-top: 30px;
        padding-bottom: 100px;
    }
    #quickHeading{
        font-size: 30px;
        color: crimson;
        display: block;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 5%;
        }
    #quickSubHeading{
        font-size: 24px;
        color: firebrick;
        display: block;
        line-height: 50px;
        margin-left: 5%;
    }
    .tileContainer{
        /* height: 400px; */
        width: 45%;
        box-shadow: 10px 20px 40px gray;
        display: inline-block;
        margin-left: 3%;
        margin-top: 2%;
        border-radius: 15px;
        transition: all 0.5s ease;
    }
    .tileContainer:hover{
        transform: scale(1.1);
    }
    .tileComponent1{
        height: 180px;
        width: 48%;
        float: left;
    }
    .tileComponent1 img{
        width: 100%;
        height: 180px;
    }
    .tileComponent2{
        /* height: 200px; */
        width: 45%;
        margin-left: 5%;
        margin-top: 5%;
        float: left;
    }
    .componentHeading a{
        color:indianred;
        font-weight: bold;
        font-size: 25px;;
    }
    .componentSubHeading{
        color: black;
        font-size: 17px;
    }

    /* banner Section */
    .banner{
        height: 500px;
        /* width: 80%; */
        background-image: url(../images/tonguestun.png);
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        /* margin-left: 10%; */
        padding-top: 15%;
        padding-bottom: 7%;
    }
    .banner-highlights{
        padding: 60px 0;
        background: rgba(0,0,0,0.6);
        text-align: center;
        color: white;
    }
    .booking-btn{
        width: 120px;
        padding: 8px 0;
        outline: none !important;
        border: 2px solid #fff;
        border-radius: 50px;
        background: transparent;
        color: #fff;
        margin-top: 20px;
    }

    /* popular-locations css */
    .font-weight-bold{
        font-weight:500;
    }
    #popular-locations{
        height: 300px;
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 5%;
        background-color: #fffbf7;
    }
    .popular-heading{
        font-size: 40px;
        color: black;
    }
    .locations-div{
        width: 100%;
        height: 50px;
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
    }
    .locations-div:hover{
        box-shadow: 1px 1px 5px #ccc;
    }

    /* Footer Css */
    #footer{
        height: 180px;
        width: 100%;
        margin-top: 5%;
        background-color:#1f1a21;
    }
    #footText{
        color: #fff;
        font-size: 23px;
        font-weight: bold;
    }
    #footText{
        text-align: center;
    }
    .footDiv{
        height: 100px;
        width: 33%;
        color: #fff;
        float: left;
        border-right: 2px solid whitesmoke;
        text-align: center;
    }
    .noBorder{
        border: none;
    }
}
@media screen and (max-width:800px){
    body{
        /* background-color:chocolate; */
    }
}
@media screen and (max-width:901px){
    body{
    
    }
    #header{
        height:70px;
        width: 100%;
        position: absolute;
    }
    #logo{
        color: aliceblue;
        height: 70px;
        width: 70px;
        background-color: red;
        border-radius:50%;
        margin-left: 1%;
        margin-top: 1%;
        position: absolute;
    }
    #logo:hover{
        color: red;
        background-color: aliceblue;
    }
    #logo span{
        margin-left: 20%;
        margin-top: -2%;
        position: absolute;
        font-size: 50px;
    }
    #social{
        float: right;
        margin-right: 1%;
        margin-top: 1%;
    }
    .slogo{
        height: 40px;
        width: 40px;
    }
    #icon{
        font-weight: bolder;
        font-size: 80px;
        font-family:'Courier New', Courier, monospace;
        color: #fff;
        float: left;
        margin-left: 32%;
        margin-top: 15%;
        position: absolute ;
    }
    #heading{
        margin-left: 17%;
        margin-top: 27%;
        position: absolute;
        font-size: 30px;
        color: white;
        font-family:cursive;
        text-align: center;
    }
    #dropdown{
        height: 60px;
        width: 90%;
        margin-left: 11%;
        margin-top: 35%;
        position: absolute;
    }
    select{
        height: 45px;
        width: 45%;
        font-size: 15px;
        text-align: center;
        border-radius: 25px;
    }
    .restselect{
        width: 45%;
    }
    /* QuickSearch Css */
    #quickSearch{
        height: 1400px;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    #quickHeading{
        font-size: 30px;
        color: crimson;
        display: block;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 5%;
        }
    #quickSubHeading{
        font-size: 24px;
        color: firebrick;
        display: block;
        line-height: 50px;
        margin-left: 5%;
    }
    .tileContainer{
        /* height: 400px; */
        width: 90%;
        box-shadow: 10px 20px 40px gray;
        display: inline-block;
        margin-left: 4%;
        margin-top: 2%;
        border-radius: 15px;
        transition: all 0.5s ease;
    }
    .tileContainer:hover{
        transform: scale(1.1);
    }
    .tileComponent1{
        height: 180px;
        width: 40%;
        float: left;
    }
    .tileComponent1 img{
        width: 100%;
        height: 180px;
    }
    .tileComponent2{
        /* height: 200px; */
        width: 40%;
        margin-left: 5%;
        margin-top: 5%;
        float: left;
    }
    .componentHeading a{
        color:indianred;
        font-weight: bold;
        font-size: 25px;;
    }
    .componentSubHeading{
        color: black;
        font-size: 17px;
    }

    /* banner Section */
    .banner{
        height: 500px;
        /* width: 80%; */
        background-image: url(../images/tonguestun.png);
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        /* margin-left: 10%; */
        padding-top: 20%;
        padding-bottom: 7%;
    }
    .banner-highlights{
        padding: 40px 0;
        background: rgba(0,0,0,0.6);
        text-align: center;
        color: white;
    }
    .booking-btn{
        width: 120px;
        padding: 8px 0;
        outline: none !important;
        border: 2px solid #fff;
        border-radius: 50px;
        background: transparent;
        color: #fff;
        margin-top: 20px;
    }

    /* popular-locations css */
    .font-weight-bold{
        font-weight:500;
    }
    #popular-locations{
        height: 400px;
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        margin-bottom: 30px;
        padding-top: 5%;
        background-color: #fffbf7;
    }
    .popular-heading{
        font-size: 35px;
        color: black;
    }
    .locations-div{
        width: 100%;
        height: 50px;
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
    }
    .locations-div:hover{
        box-shadow: 1px 1px 5px #ccc;
    }

    /* Footer Css */
    #footer{
        height: 180px;
        width: 100%;
        margin-top: 5%;
        background-color:#1f1a21;
    }
    #footText{
        color: #fff;
        font-size: 23px;
        font-weight: bold;
    }
    #footText{
        text-align: center;
    }
    .footDiv{
        height: 100px;
        width: 33%;
        color: #fff;
        float: left;
        border-right: 2px solid whitesmoke;
        text-align: center;
    }
    .noBorder{
        border: none;
    }
}
@media screen and (max-width:720px){
    body{
        /* background-color: coral; */
    }
    #header{
        height:70px;
        width: 100%;
        position: absolute;
    }
    #logo{
        color: aliceblue;
        height: 70px;
        width: 70px;
        background-color: red;
        border-radius:50%;
        margin-left: 1%;
        margin-top: 1%;
        position: absolute;
    }
    #logo:hover{
        color: red;
        background-color: aliceblue;
    }
    #logo span{
        margin-left: 20%;
        margin-top: -2%;
        position: absolute;
        font-size: 50px;
    }
    #social{
        float: right;
        margin-right: 1%;
        margin-top: 1%;
    }
    .slogo{
        height: 40px;
        width: 40px;
    }
    #icon{
        font-weight: bolder;
        font-size: 80px;
        font-family:'Courier New', Courier, monospace;
        color: #fff;
        float: left;
        margin-left: 25%;
        margin-top: 15%;
        position: absolute ;
    }
    #heading{
        margin-left: 11%;
        margin-top: 37%;
        position: absolute;
        font-size: 30px;
        color: white;
        font-family:cursive;
        text-align: center;
    }
    #dropdown{
        height: 60px;
        width: 90%;
        margin-left: 12%;
        margin-top: 60%;
        position: absolute;
    }
    select{
        height: 45px;
        width: 45%;
        font-size: 15px;
        text-align: center;
        border-radius: 25px;
    }
    .restselect{
        width: 45%;
    }
    /* QuickSearch Css */
    #quickSearch{
        height: 1850px;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        padding-top: 550px;
        padding-bottom: 100px;
    }
    #quickHeading{
        font-size: 30px;
        color: crimson;
        display: block;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 5%;
        }
    #quickSubHeading{
        font-size: 24px;
        color: firebrick;
        display: block;
        line-height: 50px;
        margin-left: 5%;
    }
    .tileContainer{
        /* height: 400px; */
        width: 100%;
        box-shadow: 10px 20px 40px gray;
        display: inline-block;
        margin-left: 4%;
        margin-top: 2%;
        border-radius: 15px;
        transition: all 0.5s ease;
    }
    .tileContainer:hover{
        transform: scale(1.1);
    }
    .tileComponent1{
        height: 180px;
        width: 48%;
        float: left;
    }
    .tileComponent1 img{
        width: 100%;
        height: 180px;
    }
    .tileComponent2{
        /* height: 200px; */
        width: 47%;
        margin-left: 5%;
        margin-top: 5%;
        float: left;
    }
    .componentHeading a{
        color:indianred;
        font-weight: bold;
        font-size: 25px;;
    }
    .componentSubHeading{
        color: black;
        font-size: 17px;
    }

    /* banner Section */
    .banner{
        height: 500px;
        /* width: 80%; */
        background-image: url(../images/tonguestun.png);
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        /* margin-left: 10%; */
        padding-top: 20%;
        padding-bottom: 7%;
    }
    .banner-highlights{
        padding: 40px 0;
        background: rgba(0,0,0,0.6);
        text-align: center;
        color: white;
    }
    .booking-btn{
        width: 120px;
        padding: 8px 0;
        outline: none !important;
        border: 2px solid #fff;
        border-radius: 50px;
        background: transparent;
        color: #fff;
        margin-top: 20px;
    }

    /* popular-locations css */
    .font-weight-bold{
        font-weight:500;
    }
    #popular-locations{
        height: 600px;
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 5%;
        background-color: #fffbf7;
    }
    .popular-heading{
        font-size: 40px;
        color: black;
    }
    .locations-div{
        width: 100%;
        height: 50px;
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
    }
    .locations-div:hover{
        box-shadow: 1px 1px 5px #ccc;
    }

    /* Footer Css */
    #footer{
        height: 180px;
        width: 100%;
        margin-top: 5%;
        background-color:#1f1a21;
    }
    #footText{
        color: #fff;
        font-size: 23px;
        font-weight: bold;
    }
    #footText{
        text-align: center;
    }
    .footDiv{
        height: 100px;
        width: 33%;
        color: #fff;
        float: left;
        border-right: 2px solid whitesmoke;
        text-align: center;
    }
    .noBorder{
        border: none;
    }
}